.header{
    background-image: url(food-background-selection-spices-herbs-ingredients-cooking-dark-stone-table-long-banner-format-good-web-food-118170735.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    
}

#headertxt{
    text-align: center;
    color: antiquewhite;
    text-align: center;
    background-image: url(Edge-Grain-Cutting-Board.jpg);
    width: 27.5%;
    height: 200px;
}

.Nav{

    font-size: 5%;
    list-style: none;
    display: flex;
    text-decoration: none;
    color: beige;
    font-family: cursive;
    font-size: medium;
    flex-direction: row;
}

.Nav li{
    margin-right: 5px;
    text-align: center;
    margin-bottom: 20px;
}

#signupnavimg{
    height: 60px;
    border-radius: 60px;
    
}