* {
    background-color: cadetblue;
}



.app {
    height: 20vh;
    width: 50vh;
    margin: 5vh;
    float: left;    
    color: black;
    
}

.entrees {

    margin-top: 80vh;
}

.dessert {
    margin-top: 135vh;
}
