* {
    background-color: cadetblue;
}
.appetizers {

}

.app {
    float: left;
    height: 20vh;
    width: 50vh;
    margin-top: 5vh;
}
/* .app1 {
    float: left;
    height: 20vh;
    width: 50vh;
    margin-bottom: 100vh;
} */

.entree {

    height: 20vh;
    width: 50vh;




}

