* {
    background-color: cadetblue;
}



.app {
    height: 20vh;
    width: 50vh;
    margin-top: 5vh;    
    color: black;
    
}

.bread {

}

.add {
    text-decoration: none;
}


.entrees {


}

.dessert {

}
