<<<<<<< HEAD
body
{
  color: white;
    background-image: url(pics/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#snakey
{
    position:fixed;
    top: 20%;
    right: 37%;
    overflow:hidden;
    pointer-events:none
}
#sig
{
  
}
.cat
{
     margin-top: 20%;
    margin-left: 41%;
    justify-self: center;
display: inline-block;
}
.btn3
{
 margin-left: 46%;
 border: 5px solid black;
}
#top
{
  margin-top: 18%;
}
#sig
{
    margin-bottom: 20px;
    height: 30px;
    text-align: center;
    border: ridge black;
}
#snakey {
    animation: rotation 8s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }


  body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: rgba(255, 0, 0, 0.541); 
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
#b
{
  background-color: rgba(0, 128, 255, 0.664);
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 10%;
  border-radius: 50%;
}

.container {
  background-color: rgba(0, 0, 0, 0.085);
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: black;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: red;
  font-size: 35px;
  font-weight: bold;
}
#bl
{
  color:rgb(0, 128, 255);
}

.close:hover,
.close:focus {
  color: white;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
=======
body{
    background-color: grey;
}

/* Header CSS */

.header{
    background-image: url(food-background-selection-spices-herbs-ingredients-cooking-dark-stone-table-long-banner-format-good-web-food-118170735.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    
}

#headertxt{
    color: antiquewhite;
    text-align: center;
    background-image: url(Edge-Grain-Cutting-Board.jpg);
    width: 25%;
    height: 200px;
}

.Nav{
    list-style: none;
    text-decoration: none;
    color: beige;
    font-family: cursive;
    font-size: medium;
}

.Nav li{
    text-align: center;
    margin-bottom: 20px;
}

#signupnavimg{
    height: 60px;
    border-radius: 60px;
    
}

#snakey
{
    position:fixed;
    top: 20%;
    right: 37%;
    overflow:hidden;
    pointer-events:none
}
#sig
{
  
}
.cat
{
     margin-top: 20%;
    margin-left: 41%;
    justify-self: center;
display: inline-block;
}
.btn3
{
 margin-left: 46%;
 border: 5px solid black;
}
#top
{
  margin-top: 18%;
}
#sig
{
    margin-bottom: 20px;
    height: 30px;
    text-align: center;
    border: ridge black;
}
#snakey {
    animation: rotation 8s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }


  body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: rgba(255, 0, 0, 0.541); 
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
#b
{
  background-color: rgba(0, 128, 255, 0.664);
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 10%;
  border-radius: 50%;
}

.container {
  background-color: rgba(0, 0, 0, 0.085);
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: black;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: red;
  font-size: 35px;
  font-weight: bold;
}
#bl
{
  color:rgb(0, 128, 255);
}

.close:hover,
.close:focus {
  color: white;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}